NODE_ENV=development
TZ=Europe/Moscow

TELEGRAM_TOKEN=
TELEGRAM_BOT_NAME=
TELEGRAM_DOMAIN=
APP_URL=
HOST=
SECRETARY_HOST=

CLIENT_ID=
CLIENT_SECRET=

YC_API_KEY=
YC_IAM_TOKEN=
VOSK_RECOGNIZE_URL=

GOOGLE_CALENDAR_CLIENT_ID=
GOOGLE_CALENDAR_CLIENT_SECRET=
