{
  "rules": {
    "linebreak-style": ["error", "unix"],
    "dot-location": ["error", "property"],
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": "error",
    "consistent-this": ["error", "self"],
    "eol-last": "error",
    "func-call-spacing": "error",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "max-depth": "error",
    "max-len": ["warn", {
      "ignoreComments": true,
      "tabWidth": 2,
      "comments": 140,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "code": 80
    }],
    "new-parens": "error",
    "no-lonely-if": "error",
    "no-multiple-empty-lines": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-property-newline": ["error", { "allowMultiplePropertiesPerLine": true }],
    "semi-spacing": "error",
    "space-before-blocks": "error",
    "space-in-parens": "error",
    "space-unary-ops": "error",
    "unicode-bom": "error",
    "arrow-spacing": "error",
    "no-duplicate-imports": "error",
    "constructor-super": "error",
    "no-var": "error",
    "prefer-const": "error",
    "no-eq-null": "error",
    "no-global-assign": "error",
    "no-invalid-this": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-return-assign": ["error", "always"],
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-useless-escape": "error",
    "no-undef-init": "error",
    "one-var": ["error", "never"],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": 0,
        "MemberExpression": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "require-await": "error",
    "no-return-await": "error",
    "arrow-body-style": ["error", "always"],
    "prefer-destructuring": ["error", {
      "array": true,
      "object": false
    }, {
      "enforceForRenamedProperties": false
    }],
    "comma-dangle": ["error", "only-multiline"],
    "prefer-arrow-callback": "error",
    "curly": [
      "error",
      "all"
    ],
    "no-console": "error",
    "prettier/prettier": "error",
    "jsdoc/check-alignment": "error",
    "jsdoc/check-examples": "warn",
    "jsdoc/check-indentation": "warn",
    "jsdoc/check-param-names": "error",
    "jsdoc/check-syntax": "error",
    "jsdoc/require-description": "off",
    "jsdoc/require-returns": "error",
    "jsdoc/require-returns-check": "warn",
    "jsdoc/require-returns-description": "off",
    "jsdoc/require-example": "off",
    "jsdoc/require-description-complete-sentence": "off",
    "jsdoc/require-hyphen-before-param-description": "warn",
    "jsdoc/require-param-type": "error",
    "jsdoc/require-param": "warn",
    "jsdoc/newline-after-description": "error",
    "jsdoc/check-tag-names": "error",
    "jsdoc/check-types": "error",
    "jsdoc/no-undefined-types": "off",
    "jsdoc/require-param-description": "warn",
    "jsdoc/require-param-name": "error",
    "jsdoc/require-returns-type": "error",
    "jsdoc/valid-types": "error",
    "ava/assertion-arguments": "error",
    "ava/max-asserts": [
      "off",
      5
    ],
    "ava/no-async-fn-without-await": "error",
    "ava/no-cb-test": "off",
    "ava/no-duplicate-modifiers": "error",
    "ava/no-identical-title": "error",
    "ava/no-ignored-test-files": "error",
    "ava/no-import-test-files": "off",
    "ava/no-invalid-end": "error",
    "ava/no-nested-tests": "error",
    "ava/no-only-test": "error",
    "ava/no-skip-assert": "error",
    "ava/no-skip-test": "error",
    "ava/no-statement-after-end": "error",
    "ava/no-todo-implementation": "error",
    "ava/no-todo-test": "warn",
    "ava/no-unknown-modifiers": "error",
    "ava/prefer-async-await": "error",
    "ava/prefer-power-assert": "off",
    "ava/prefer-t-regex": "error",
    "ava/test-ended": "error",
    "ava/test-title": "error",
    "ava/test-title-format": "off",
    "ava/use-t": "error",
    "ava/use-t-well": "error",
    "ava/use-test": "error",
    "ava/use-true-false": "error",
    "unicorn/catch-error-name": "error",
    "unicorn/custom-error-definition": "off",
    "unicorn/error-message": "error",
    "unicorn/escape-case": "error",
    "unicorn/explicit-length-check": "error",
    "unicorn/filename-case": "error",
    "unicorn/import-index": "error",
    "unicorn/new-for-builtins": "error",
    "unicorn/no-abusive-eslint-disable": "warn",
    "unicorn/no-array-instanceof": "error",
    "unicorn/no-console-spaces": "error",
    "unicorn/no-fn-reference-in-iterator": "off",
    "unicorn/no-for-loop": "error",
    "unicorn/no-hex-escape": "error",
    "unicorn/no-keyword-prefix": "off",
    "unicorn/no-new-buffer": "error",
    "unicorn/no-process-exit": "error",
    "unicorn/no-unreadable-array-destructuring": "error",
    "unicorn/no-unsafe-regex": "warn",
    "unicorn/no-unused-properties": "off",
    "unicorn/no-zero-fractions": "error",
    "unicorn/number-literal-case": "error",
    "unicorn/prefer-add-event-listener": "error",
    "unicorn/prefer-event-key": "error",
    "unicorn/prefer-exponentiation-operator": "error",
    "unicorn/prefer-flat-map": "error",
    "unicorn/prefer-includes": "error",
    "unicorn/prefer-node-append": "error",
    "unicorn/prefer-node-remove": "error",
    "unicorn/prefer-query-selector": "error",
    "unicorn/prefer-spread": "error",
    "unicorn/prefer-starts-ends-with": "error",
    "unicorn/prefer-text-content": "error",
    "unicorn/prefer-type-error": "error",
    "unicorn/prevent-abbreviations": "error",
    "unicorn/regex-shorthand": "error",
    "unicorn/throw-new-error": "error",
    "unicorn/expiring-todo-comments": [
      "warn", {
        "terms": [
          "todo"
        ]
      }
    ],
    "sql/format": [
      2,
      {
        "ignoreExpressions": true,
        "ignoreInline": false,
        "ignoreTagless": false
      }
    ],
    "sql/no-unsafe-query": [
      2,
      {
        "allowLiteral": false
      }
    ]
  },
  "settings": {
    "jsdoc": {
      "overrideReplacesDocs": true,
      "augmentsExtendsReplacesDocs": true,
      "implementsReplacesDocs": true
    }
  },
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "plugins": [
    "ava",
    "jsdoc",
    "node",
    "prettier",
    "unicorn",
    "json",
    "sql"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "prettier/standard",
    "plugin:unicorn/recommended"
  ]
}
