{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "jsdoc/require-returns-description": 0,
    "jsdoc/require-hyphen-before-param-description": 0,
    "jsdoc/require-example": 0,
    "jsdoc/require-description-complete-sentence": 0,
    "jsdoc/require-param-type": 2,
    "jsdoc/require-param": 2,
    "jsdoc/newline-after-description": 1,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2,
    "jsdoc/no-undefined-types": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-name": 2,
    "jsdoc/require-returns-type": 2,
    "jsdoc/valid-types": 2
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "plugins": [
    "jsdoc"
  ],
  "extends": "eslint:recommended"
}
