{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "require-await": "error",
    "no-return-await": "error",
    "arrow-body-style": ["error", "always"],
    "prefer-destructuring": ["error", {
      "array": true,
      "object": false
    }, {
      "enforceForRenamedProperties": false
    }],
    "comma-dangle": ["error", "only-multiline"],
    "prefer-arrow-callback": "error",
    "curly": [
      "error",
      "all"
    ],
    "prettier/prettier": "error",
    "jsdoc/check-alignment": 1,
    "jsdoc/check-examples": 1,
    "jsdoc/check-indentation": 1,
    "jsdoc/check-param-names": 1,
    "jsdoc/check-syntax": 1,
    "jsdoc/require-description": 0,
    "jsdoc/require-returns": 1,
    "jsdoc/require-returns-check": 1,
    "jsdoc/require-returns-description": 0,
    "jsdoc/require-example": 0,
    "jsdoc/require-description-complete-sentence": 0,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-param-type": 2,
    "jsdoc/require-param": 2,
    "jsdoc/newline-after-description": 1,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2,
    "jsdoc/no-undefined-types": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-name": 2,
    "jsdoc/require-returns-type": 2,
    "jsdoc/valid-types": 2
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "script"
  },
  "plugins": [
    "jsdoc",
    "node",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "prettier/standard"
  ]
}
