node_modules/
/.idea/
/coverage/
/reports/
/.nyc_output/
/keys/
/cert/
/logs/
/docs/_site

.DS_Store
.sass-cache
.jekyll-metadata

*-debug.log*
*.env
*.rej
*.log
*.crt
*.key
*.pem

codeql-runner
*.sqlite
